
body{



    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    position: relative;
    top: 450px;
    left:600px;
    font-size:x-large;
}
#buton1{
    padding: 20px;
    margin-left:100px;
    height: 50px;
    width:150px;
    background-color:teal;
    
}
#buton1:hover{
    background-color: darkcyan;
}
