
body{



    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #010a11;
    font-family: arial,Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color:white;
  


}


